.jobs-list-item {
  list-style-type: none;
  background-color: #2c364c;
  margin-bottom: 20px;
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  border-radius: 10px;
}

.job-item-link {
  text-decoration: none;
}

.job-item-image {
  width: 60px;
  margin-right: 20px;
}

.job-item-logo-and-title-container {
  display: flex;
  color: white;
}

.jobs-item-title-and-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.job-item-rating-and-star {
  display: flex;
  align-items: center;
}

.job-item-rating-text {
  margin-left: 5px;
}

.job-item-star-icon {
  color: #fbbf24;
}

.job-item-location-type-package-container {
  color: white;
  display: flex;
  margin-top: 30px;
}

.job-item-location-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.job-item-employment-type-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
  flex-grow: 1;
}

.job-item-icon {
  margin-right: 5px;
}

.line-separator {
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
}

.job-item-description-text {
  color: white;
  margin-bottom: 15px;
}

@media screen and (max-width: 350px) {
  .job-item-description-text {
    font-size: 20px;
  }
}

.job-item-description {
  color: #cbd5e1;
  line-height: 30px;
}

.description-and-visit-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.job-item-description-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.visit-text {
  text-decoration: none;
  color: #b6c5ff;
}

.share-icon {
  color: #b6c5ff;
  margin-left: 10px;
}
