.nav-container {
  background-color: #2c364c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header-logo {
  width: 150px;
}

.header-logo-button {
  background-color: transparent;
  border: none;
}

.nav-list-items {
  list-style-type: none;
}

.nav-items {
  text-decoration: none;
  color: white;
  margin: 20px;
}

.nav-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

@media screen and (max-width: 768px) {
  .nav-container {
    height: 10vh;
  }
  .nav-items-container {
    display: none;
  }
  .nav-logout-container {
    display: none;
  }
  .header-logo {
    width: 100px;
  }
}

.logout-button {
  width: 100%;
  color: white;
  background-color: #4f46e5;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.nav-icons-link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  background-color: transparent;
  border: none;
}

.nav-items-for-small-devices {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .nav-items-for-small-devices {
    display: none;
  }
}

.nav-icons-link {
  margin-left: 10px;
}

.header-list-items {
  list-style-type: none;
}
